name: Deploy to kiroku

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: kirocu-server-config-keys
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Connect & Deploy to Production
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USER }}
          ##password: ${{ secrets.PROD_PASSWORD }} key와 같이 사용하면 충돌
          key: ${{ secrets.PROD_SSH_KEY }}
          script: |
            set -e
            cd /app/kirocudev
            sudo docker-compose down --volumes --remove-orphans
            sudo docker builder prune -af
            rm -rf kiroku-back
            git clone https://github.com/bottleOne/kiroku-back.git
            cd kiroku-back
            ./gradlew build
            sudo docker-compose up --build -d
